body{

    background-color: beige;

    font-family: 'Spirax', cursive;

font-family: 'Pacifico', cursive;

font-family: 'Patua One', cursive;

font-family: 'PT Sans Caption', sans-serif;

}

.banania /*je cible une classe avc un point devant*/ {

    background-color:greenyellow;

}

 #unique/*je cibe un ID avec # devant*/ {

     background: gold;

     color:white;/*couleur du text*/

     font-size: 25px; /*Taille de la police*/

     }