.c0, .c1, .c2, .c3, .c4, .c5{
    /* border: 0.2em solid; */
    float: left;
    margin: 0.2em;
    text-align: center;
    
    }
    .c0{
        
        
        height: 10em;
        width: 10em;
    }
    .c1{
        background-color: green;
        border: 0.2em solid;
        border-bottom-right-radius: 34%;
        border-bottom-left-radius: 20%;
        border-top-right-radius: 15%;
        border-top-left-radius: 16%;
        height: 10em;
        width: 10em;
    }
    .c2{
        background-color: cyan;
        border: 0.2em solid;
        border-bottom-right-radius: 42%;
        border-top-left-radius: 33%;
        height: 10em;
        width: 10em;
    }
    .c3{
        background-color: aquamarine;
        border: 0.2em solid;
        border-radius: 50%;
        height: 10em;
        width: 10em;
    }
    .c4{
        background-color: burlywood;
        border: 0.2em solid;
        border-top-right-radius: 37%;
        border-bottom-left-radius: 36%;
        height: 10em;
        width: 10em;
    }
    .c5{
        background-color: red;
        border: 0.2em solid;
        border-top-right-radius: 37%;
        border-bottom-left-radius: 36%;
        height: 10em;
        width: 10em;
    }
    .clear{
        clear: left;
    }