body{
    margin: 10px 0;
    padding: 0;
    text-align: center; /* tac + tab*/
    font-family: 'PT sans', sans-serif;
    background-color: #dea; /*dea RACCOURCIE de DDEEAA*/
}

div#conteneur{
    width: 770px;
    margin: 0 auto;
    text-align: left;
    border: 2px solid #ab4;
    background: #fff;
}

h1#header{
    height: 250px;
    background: url('../../img/apple.jpg') no-repeat left top;/*  image de fond qui ne se répète pas, positionné  à gauche en haut */
    margin: 0;
    }

    h1#header a{
        display: block;
        width: 400px;
        height: 70px;
        background: url('../../img/title.gif') no-repeat;
        position: relative; /* je règle sa position par rapport à la balise parent*/
        left: 350px;
        top: 15px;
        text-indent: -5000px; /* text-indent => retrait ici je sors le texte pour ne pas gêner l'image*/

         }

ul#menu{
    /* je donne  à mon menu la même hauteur que l'image que je vais utiliser  */
    height: 35px;
    margin: 0;
    padding: 0;
    background: url('../../img/bg_menu.gif') repeat-x 0 -25px; /* repeat-x => répète l'imagehorizontalement (axe x) - 0 => aucun décalage à gauche  et -25px remonte l'image*/
    list-style-type: none;
        }
    ul#menu li{
        float: left;/* aligne les li sur la même ligne*/
        text-align: center;
        }
    ul#menu li a{
        width: 130px;
        line-height: 25px;
        font-size: 1.2em;
        font-weight: bold;
        letter-spacing: 2px;
        color: #ffffff;
        display: block;
        text-decoration: none;
        border-right: 2px solid #dea;
        }
    nav ul#menu li a:hover{
        background: url('../../img/bg_menu.gif') repeat-x 0 0;
    }

div#contenu{
    padding: 0 10px 0 100px;/*haut, droite, bas gauche*/
    background-image: url('../../img/bg_page.gif');
    background-repeat: no-repeat;
    background-position: 15px 15px;
}

div#contenu h2{
    padding-left: 25px;
    line-height: 25px;
    font-size: 1.4em;
    background: url('../../img/little_apple.gif') no-repeat left bottom;
    color: #9b2;
    border-bottom: 1px solid #9b2;

}div#contenu h3{
    margin-left: 15px;
    padding-left: 5px;
    border-bottom: 1px solid #9b2;
    border-left: 1px solid #9b2;
    color: #99bb22;
}

div#contenu p{/*paragraphes plus aérés*/
    text-align: justify;
    text-indent: 2em;
    line-height: 1.2em;
    
}

div#contenu a{/*mise en forme des liens*/
    color: #88aa00;
}

div#contenu a:hover{
    color: #99bb22;

}

p#footer{
    margin: 0;
    padding-right: 10px;
    line-height: 30px; /*on définit la hauteur de line*/
    text-align: right;
    color: #88aa00;
}
