body{
    padding: 0;
    margin: 0;
}
.headerFixe{
    background: greenyellow;
    width: 100%;
    height: 90px;
    position: fixed;
    }
    .h{
        padding: 0;
        margin: 0;
    }    
.dRelative{
    background: rebeccapurple;
    height: 84vh;    
    width: 21vw;    
    position: fixed;    
    top: 91px;
}
.centre{
    background: cadetblue;
    margin: 0 auto;    
    height: 1500px;    
    width: 1092px;    
    box-sizing: border-box;
    position: absolute;
    left: 21%;    
    top: 9%;
}
.gAbsolute{
    background: bisque;
    height: 93vh;    
    width: 21vw;    
    position: fixed;    
    top: 0;    
    right: 0;
    }
    .red{
        border: 1px solid red;
    }
.footerFixe{
    background: red;
    height: 66px;
    position: fixed;
    bottom: 0;
}