
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /1_Formation/03_webforce3/02-back/wordPress/eprojet/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /1_Formation/03_webforce3/02-back/wordPress/eprojet/index.php [L]
</IfModule>

# END WordPress