{% extends 'adminLayout.html.twig' %}

{% block content %}

     <div class="container">
        <div class="row">
            <div class= "col-lg-12">
                <table class="table">
                    <thead class="thead-dark">
                    {% for schooling in schoolings %}
                        <tr>
                            <th scope="col">Années</th>
                            <th scope="col">Diplôme</th>
                            <th scope="col">Spécialité</th>
                            <th scope="col">Description</th>
                             <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"> {{schooling.sgdate}} </th>
                            <td>{{schooling.sgtitle}} </td>
                            <td>{{schooling.sgsubtitle}} </td>
                            <td> {{schooling.sgdescription}} </td>
                            <td>
                                <a href="">
                                    <i class="fas fa-certificate"></i>
                                </a>
                            </td>
                            <td>
                                <a href="">
                                  <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
 
{% endblock %}